<div class="container">
  <div class="row">
    <h1>About this site and... me</h1>
    <h3>The reason I created this site was to learn some of the solid, sound pricinples of Ruby on Rails development.</h3>
    <h4>Tools I used</h4>
    <ul class="list-unstyled">
      <li>Ruby Code</li>
      <li>Rails Framework</li>
      <li>Stacks of Gems:</li>
        <li>Devise</li>
        <li>Figaro</li>
        <li>PaperClip</li>
        <li>BootStrap</li>
        <li>Awesome-Font</li>
        <li>Stripe Integration</li>
        <li>Github and Bash</li>
      <li>PostgreSQL DB</li>
      <li>Heroku with deployment</li>
    </ul>
    <p>For now I will stow away this project and one day - in the near future - come back and actually create an exciting, interactive Gamers / Streamers / Developers / Creatoers community for the cloud-era</p>
  </div><br /><br />
<br /><br />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <section class="business-card">
    <div class="front">
      <p class="rotate-left">Web
      <br>Engineer</p>
      <p class="rotate-right">Ideas
      <br>Guy</p>
    <div class="blue"></div>
      <img src="http://vishnumadhusoodanan.github.io/assets/assets/images/business-card/plus-circ.png" alt="">
    </div>

    <div class="back">
      <h2>Alan Williams</h2>
      <ul>
        <li><a href="mailto:vishnu@example.com">pikethecrow@gmail.com</a></li>
        <li>079 016 48812</li>
        <li><a href="https://github.com/PikeTheCrow/">PikeTheCrow Github</a></li>
      </ul>
    </div>
    </section>

      <div id="overlay">
        <a href="#notoverlay" class="close">close</a>
        <p>Color pallette: <a href="https://kuler.adobe.com/Moxy-color-theme-4046199/">Kuler - Moxy</a></p>
        <p>Font: <a href="http://www.google.com/fonts/specimen/Roboto+Slab">Roboto Slab</a></p>
      </div>
    </div>
  </div>
</div>
