@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.navbar {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.well {
  color: #FFF;
  background-color: transparent;
  border: transparent;
}

.bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.jumbotron {
  background-color: transparent;
  border: 1px double #FFF;
  color: #FFF;
}

.btn-default {
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
}

.btn-default:hover {
  background-color: #FFF;
  color: #000;
}

#card_month {
  color: #000;
}


#card_year {
  color: #000;
}
